<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
 <!-- Menu Chinh Sach Cong Ty-->
    <menuitem id="main_quanlysach_menu" name="Quản lý thư viện"
      web_icon="chinhsachcongty,static/description/icon.png"/>
    <menuitem id="quanlysach_menu" name="Quản lý thư viện"
      parent="main_quanlysach_menu"/>
        <!-- Menu Chinh Sach Cong Ty-->

    </data>
</odoo>